/* ?----------------------MEDIA---------------------- */

@media screen and (min-width: 370px) {
    .menu-item-num {
        font-size: 36px;
    }
}

@media screen and (min-width: 431px) {
    .modal {
        height: 584px;
    }
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 582px;
    }

    .customers-list {
        gap: 72px 24px;
    }

    .footer-container {
        gap: 72px 24px;
        justify-content: start;
    }

    .footer-social {
        align-self: start;
    }

    .footer-social-title {
        text-align: left;
    }

    .subscribe {
        width: 100%;
        max-width: unset;
    }

    .form-subscribe {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }

    .subscribe-text {
        text-align: left;
    }

    .subscribe-email {
        width: 264px;
    }

    .footer-left {
        text-align: left;
    }

    .portfolio-container {
        max-width: 396px;
    }
}

@media screen and (min-width: 576px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tablet.jpg);
    }

    @media (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tablet@2x.jpg);
        }
    }
}

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
    }

    .open-btn {
        display: none;
    }

    .address {
        display: block;
    }

    /* ?----------------------HERO---------------------- */
    .menu {
        display: none;
    }

    .header-container {
        max-width: 768px;
    }

    .hero-title {
        max-width: 496px;

        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;

        margin-bottom: 36px;
    }

    /* ?----------------------STRATEGY---------------------- */

    .strategy-container {
        max-width: 767px;
    }

    .strategy-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .strategy-list-item {
        max-width: 356px;
    }
    /* ?----------------------TEAM---------------------- */

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
        align-items: center;
    }

    .team {
        padding: 120px 0;
    }

    .team-list-item {
        width: calc((100% - 24px) / 2);
    }

    .customers-list {
        gap: 72px 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-container {
        max-width: 766px;
    }

    .btn-list {
        width: 100%;
        justify-content: center;
    }

    .portfolio-btn-list-item {
        padding: 12px 24px;
    }

    .portfolio-section {
        padding: 96px 0 120px;
    }
}

/* !--------------------------DESKTOP------------------------------ */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

    .header {
        padding: 24px 0;
    }

    .menu {
        display: none;
    }

    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        display: flex;
        gap: 40px;
        flex-direction: row;
    }

    .address-list-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5px;
        letter-spacing: 0.02em;
    }

    .menu-nav-list-item-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .curent::after {
        bottom: -25px;
    }

    /* ?----------------------HERO---------------------- */

    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    }

    @media (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg@2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }

    /* ?----------------------STRATEGY---------------------- */

    .strategy {
        padding: 120px 0;
    }

    .strategy-list-item-icon-container {
        background-color: var(--color-cloud);
        padding: 24px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }

    .strategy-list-item {
        max-width: 264px;
        font-weight: 400;
    }

    .strategy-list-item-title {
        margin-top: 8px;
        font-size: 20px;
        text-align: left;
        font-weight: 500;
    }

    /* ?----------------------WORK---------------------- */

    .work {
        display: block;
        padding-bottom: 120px;
    }

    .work-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color-navy-blue);
        margin-bottom: 72px;
    }

    .work-list {
        display: flex;
        gap: 24px;
    }

    .work-list-item {
        width: calc((100% - 24px * 2) / 3);
    }

    /* ?----------------------TEAM---------------------- */

    .team {
        padding: 120px 0;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
    }

    .team-list-item {
        width: calc((100% - 24px * 3) / 4);
    }

    /* ?----------------------CUSTOMERS---------------------- */

    .customers {
        padding: 120px 0;
    }

    .customers-list {
        gap: 72px 24px;
    }

    /* ?----------------------FOOTER---------------------- */

    .footer {
        padding: 100px 0;
    }

    .footer-container {
        gap: 0;
    }

    .footer-left {
        margin-right: 120px;
    }

    .footer-social {
        margin-right: 80px;
    }

    .subscribe {
        width: unset;
        max-width: unset;
        align-self: start;
    }

    .subscribe-email {
        border-color: rgb(255, 255, 255, 1);
    }

    .btn-list {
        margin-bottom: 72px;
    }

    .portfolio-list-item {
        width: calc((100% - 2 * 24px) / 3);
    }
}
